.form {
  padding: 20px 30px;
  box-sizing: border-box;
  .form__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
  }
  .form__input-group {
    margin: 20px 0 30px 0;

    .row {
      display: flex;
      gap: 25px;

      &:not(:last-child) {
        margin-bottom: 14px;
      }

      .col {
        width: 100%;
        label {
          display: block;
          margin-bottom: 10px;
          font-weight: 500;
          color: #ffffff;
          width: 100%;
        }

        input,
        select {
          width: 100%;
          flex: 1;
          height: 40px;
          border-radius: 10px;
          border: 0;
        }
      }
    }
  }
  .form__action {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}
